
<%= form_with model: @restaurant, local: true do |form| %>

  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :restaurant_name %><br>
    <%= form.text_field :name, placeholder: 'Restaurant Name' %>
  </p>

  <p>
    <%= form.label :restaurant_location %><br>
    <%= form.text_field :location, placeholder: 'Where you at?!' %>
  </p>

  <p>
    <%= form.label :minimum_price %> <%= form.text_field :min_price, placeholder: 'How low can you go?' %> <br><br>
    <%= form.label :maximum_price %> <%= form.text_field :max_price, placeholder: 'Baller or cheap-skate?' %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, placeholder: 'Tell me more about yourself...' %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_field :category, placeholder: "What's your style?" %>
  </p>

    <%= form.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= form.submit 'Submit' %>
  </p>

<% end %>
