<h1>New Restaurant</h1>

<%= form_with scope: :restaurant, url: restaurants_path, local: true do |form| %>

  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= form.label :restaurant_name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :restaurant_location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :minimum_price %> <%= form.text_field :min_price %> <br><br>
    <%= form.label :maximum_price %> <%= form.text_field :max_price %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', restaurants_path %>
