<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link type="text/css" rel="stylesheet" src="reviews_new_stylesheet.css">
  <title><%= @restaurant.name %></title>
</head>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>
<p>
  <strong>Price range:</strong>
  min: <%= @restaurant.min_price %> - max: <%= @restaurant.max_price %>
</p>
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>
<% if !@user_left_review %>
<%= render 'reviews/form' %>
<% end %>
<h2>Reviews</h2>
Average rating: <%= @ratings %>
<%= render @restaurant.reviews %>

<%= if user_signed_in? && current_user.id == @restaurant.user_id
    link_to 'Edit', edit_restaurant_path(@restaurant)
    end
    %>
<%= link_to 'Back', restaurants_path %>
