<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link type="text/css" rel="stylesheet" src="restaurant_show_stylesheet.css">
  <title><%= @restaurant.name %></title>
</head>

<body>
  <div class='overlay'>
    <p>
      <strong>Restaurant Name:</strong>
      <%= @restaurant.name %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @restaurant.location %>
    </p>
    <p>
      <strong>Price range:</strong>
      min: <%= @restaurant.min_price %> - max: <%= @restaurant.max_price %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @restaurant.description %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= @restaurant.category %>
    </p>

    <h1>Leave a review</h1>
    <%= render 'reviews/form' %>

    <h2>Reviews</h2>
    Average rating: <%= @ratings %>
    <%= render @restaurant.reviews %>
    <div class ='buttons_inline'>
      <%= button_to 'Edit Restaurant', edit_restaurant_path(@restaurant), method: :get %>
      <%= button_to 'Back', restaurants_path, method: :get %>
    </div>
  </div>
</body>
