<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link type="text/css" rel="stylesheet" src="reviews_new_stylesheet.css">
  <title><%= @restaurant.name %></title>
</head>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>
<p>
  <strong>Price range:</strong>
  min: <%= @restaurant.min_price %> - max: <%= @restaurant.max_price %>
</p>
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h1>Leave a review</h1>

<%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>
<p>
  <%= form.label :review_author %>
  <%= form.text_field :author %>
</p>
  <%= form.label :review_email %>
  <%= form.email_field :email %>
<p>
  <p>Review Rating</p>
  <%= form.label "1" %>
  <%= radio_button("review", "rating", 1) %>
  <label for="review_rating_1" id="one_star" class="material-icons">star_border</label>
  <%= form.label "2" %>
  <%= radio_button("review", "rating", 2) %>
  <label for="review_rating_2" class="material-icons">star_border</label>
  <%= form.label "3" %>
  <%= radio_button("review", "rating", 3) %>
  <label for="review_rating_3" class="material-icons">star_border</label>
  <%= form.label "4" %>
  <%= radio_button("review", "rating", 4) %>
  <label for="review_rating_4" class="material-icons">star_border</label>
  <%= form.label "5" %>
  <%= radio_button("review", "rating", 5) %>
  <label for="review_rating_5" class="material-icons">star_border</label>
</p>
<p>
  <%= form.label :comments %>
</p>
<p>
  <%= form.text_area :comments %>
</p>
<p>
  <%= form.submit 'Submit' %>
</p>
<% end %>

<h2>Reviews</h2>
<% p @restaurant.reviews %>
<% @restaurant.reviews.each do |review| %>
<% if review.id %>
<div>

<p><strong>Written by: </strong><%= review.author %> on <%= review.created_at %></p>
<p><strong>Rating: </strong><%= review.rating %></p>
<p><strong>Comment: </strong><%= review.comments %></p>

</div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
