
<% if user_signed_in? %>
  <%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>
    <h3>Leave a review</h3>
    <p>
      <!-- <%= form.label :review_author %> -->
      <!-- <%= form.text_field :author %> -->
      <%= form.hidden_field :author, value: current_user.name %>
    </p>
      <!-- <%= form.label :review_email %>
      <%= form.email_field :email %> -->
      <%= form.hidden_field :email, value: current_user.email %>
    <p>
      <p>Review Rating</p>
      <%= form.label "1" %>
      <%= radio_button("review", "rating", 1) %>
      <label for="review_rating_1" id="star_1" class="material-icons">star_border</label>
      <%= form.label "2" %>
      <%= radio_button("review", "rating", 2) %>
      <label for="review_rating_2" id="star_2" class="material-icons">star_border</label>
      <%= form.label "3" %>
      <%= radio_button("review", "rating", 3) %>
      <label for="review_rating_3" id="star_3" class="material-icons">star_border</label>
      <%= form.label "4" %>
      <%= radio_button("review", "rating", 4) %>
      <label for="review_rating_4" id="star_4" class="material-icons">star_border</label>
      <%= form.label "5" %>
      <%= radio_button("review", "rating", 5) %>
      <label for="review_rating_5" id="star_5" class="material-icons">star_border</label>
    </p>
    <p>
      <%= form.label :comments %>
    </p>
    <p>
      <%= form.text_area :comments %>
    </p>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <p>
      <%= form.submit 'Submit' %>
    </p>
  <% end %>
<% end %>

<script type="text/javascript">
  (function () {
    var allStars = []

    for (i = 1; i <= 5; i++) {
      var star = document.getElementById(`star_${i}`)
      allStars.push(star)
    }

    allStars.forEach(function (star) {
      star.addEventListener('click', function() {
        allStars.forEach(function (unclickedStar) {
          unclickedStar.innerText = 'star_border'
          unclickedStar.style.color = 'black'
        })
        star.innerText = 'star'
        star.style.color = 'gold'
      })
    })
  })()
 </script>
