<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post a Review</title>
  </head>
  <body>
    <h1>Post a Review</h1>

  <%= form_with scope: :review, url: reviews_path, local: true do |form| %>
  <p>
    <%= form.label :review_author %>
    <%= form.text_field :author %>
  </p>
    <%= form.label :review_email %>
    <%= form.email_field :email %>
  <p>
    <p>Review Rating</p>
    <%= form.label "1" %>
    <%= radio_button("review", "rating", "1") %>
    <%= form.label "2" %>
    <%= radio_button("review", "rating", "2") %>
    <%= form.label "3" %>
    <%= radio_button("review", "rating", "3") %>
    <%= form.label "4" %>
    <%= radio_button("review", "rating", "4") %>
    <%= form.label "5" %>
    <%= radio_button("review", "rating", "5") %>
  </p>
  <p>
    <%= form.label :comments %>
  </p>
  <p>
    <%= form.text_area :comments %>
  </p>
  <p>
    <%= form.submit 'Submit' %>
  </p>
  <% end %>
  </body>
</html>
