<!DOCTYPE html>
<html>
  <head>
    <title>Yelp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='overlay'>

      <% if user_signed_in?%>
      <%= button_to 'Sign out', destroy_user_session_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <% else %>
      <div class='buttons_inline'>
        <%= button_to 'Sign in', new_user_session_path, method: :get %>
        <%= button_to 'Sign up', new_user_registration_path, method: :get %>
      </div>
      <% end %>

    <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>
  </body>

</html>
